{% extends 'base.html.twig' %}

{% block title %}LigneCommande{% endblock %}

{% block body %}
    <h1>LigneCommande</h1>
<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ligne_commande.id }}</td>
            </tr>
            <tr>
                <th>Produit</th>
                <td>{{ ligne_commande.produit }}</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ ligne_commande.qt }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-1">
        <a href="{{ path('app_commande_show', {'id': ligne_commande.commande.id}) }}" class="btn btn-primary">Back</a>
        </div><div class="col-1">
        <a href="{{ path('app_ligne_commande_edit', {'id': ligne_commande.id}) }}" class="btn btn-success">Edit</a>
        </div><div class="col-1">
            {{ include('ligne_commande/_delete_form.html.twig') }}
        </div></div></div>


{% endblock %}
