{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Commande index</h1>
<div class="container">
        <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Client</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in pagination %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.date ? commande.date|date('Y-m-d') : '' }}</td>
                <td>{{ commande.client.nom }}</td>
                <td>
                    <a href="{{ path('app_commande_show', {'id': commande.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}" class="btn btn-success">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(pagination, 'twitter_bootstrap_v4_pagination.html.twig' ) }}
    </div>
    <a href="{{ path('app_commande_new') }}" class="btn btn-primary mt-4">Create new</a>
    </div>
{% endblock %}

