{% extends 'base.html.twig' %}

{% block title %}Liste Client{% endblock %}

{% block body %}
    <h1>Liste Client</h1>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CIN</th>
                <th>Nom</th>
                <th>Telephone</th>
                <th>Mail</th>
                <th>Adresse</th>
                <th>Login</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.cin }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.tel }}</td>
                <td>{{ client.mail }}</td>
                <td>{{ client.adr }}</td>
                <td>{{ client.user.login }}</td>
                <td>
                    <a href="{{ path('app_client_show', {'id': client.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('app_client_edit', {'id': client.id}) }}" class="btn btn-success">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_client_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
